<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Profile Page</title>
	{% load static %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">  
	<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet"> 
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
	<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
		<p class="h5 my-0 me-md-auto fw-normal">Crochet 4 Charity</p>
		<nav class="my-2 my-md-0 me-md-3">
			<a class="p-2 text-dark" href="/">Main</a>
			<a class="p-2 text-dark" href="/gallery">Gallery</a>
			<a class="p-2 text-dark" href="#">Charities</a>
		</nav>
			<a class="btn btn-outline-primary" href="#">Logout</a>
	</header>
		
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Welcome</h1>
					<p>Information about registered users: </p>
					<p>Another form for user to create profile? /p>
					<p>Name:</p>
					<p>Please fill out this form :</p>
					<p>Description:</p>
					<p>Skill level:</p>
				
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<h2> add a form here ....</h2>
				<p> a form to update the information </p>
				<p> form for more information </p>
				<a href="/add_profile" class="btn btn-primary">Submit & Create Profile</a>
				
			
				</div>

				<div class="col">
					<div class="mb-3">
						<p>how do create a form for uploading an image?</p>
						<label for="formFileSm" class="form-label">Small file input example</label>
						<input class="form-control form-control-sm" id="formFileSm" type="file">
					</div>

				2 of 2
				</div>
			</div>
		</div>





		<!-- <div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<h1>Welcome</h1>
								<p>Information about registered users: </p>
								<p>Another form? which only shows up for user in session</p>
								<p>Name:</p>
								<p>Description:</p>
								<p>Skill level:</p>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<p>only loged in user's uploads images on this page </p>
							<button type="submit">Upload Images</button>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
			</div>
		</div> -->




	<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>
</html>